#body_login {
    font-family: sans-serif;
    display: flex;
    background-color: #f4f4f9;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#login_container {
    background-color: white;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

#button_login {
    width: 80%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

#all_characters_list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding-bottom: 250px;
}

.character-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    width: 150px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.character-card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

#search-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f4f4f4;
    padding: 10px;
    border-top: 2px solid #ccc;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
    box-sizing: border-box;
}

#search-container h3 {
    margin-top: 0;
}

#character {
    font-size: 1.1rem;
    padding: 10px;
    width: 300px;
    max-width: 60%;
}

#search_character {
    font-size: 1.1rem;
    padding: 10px 20px;
}

#character_result {
    margin-top: 15px;
}